.box {
    border: 1px red dotted;
}
.signInPage {
    display: block;
    text-align: center;
    margin-top: 10%;
  }

  .loggedIn {
      text-align: center;
      margin-top: 3%;
  }

  .searchContainer {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%; 
  }

  .container {
      display: block;
      justify-content: center;
  }