/* body {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr !important;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr !important; 
    background-color: papayawhip;
  } */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
